* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: montserrat, sans-serif;
}

.body-scroll-nav {
  display: flex;
  position: fixed;
  z-index: 3;
  width: 100%;
  justify-content: space-between;
  padding: 0.5em 1em;
  color: white;
  font-weight: bold;
  background: rgb(28, 42, 54);
}

.body-no-scroll-nav {
  display: flex;
  position: fixed;
  z-index: 3;
  width: 100%;
  justify-content: space-between;
  padding: 0.5em 2em 0.5em 1em;
  color: white;
  font-weight: bold;
  background: rgb(40, 63, 83);
}

.brand-logo-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 45%;
  gap: 2em;
}

.brand {
  display: flex;
  align-items: center;
  gap: 1em;
}

.logo {
  background: white;
  color: rgb(40, 63, 83);
  padding: 0.3em 0.5em;
  border-radius: 10px;
  font-size: 1.4em;
}

.navigation {
  display: flex;
  gap: 2em;
  align-items: center;
}

.search {
  display: flex;
  width: 100%;
}

.nav-search-visible {
  position: relative;
  visibility: visible;
  /* padding: 1.5em 1.2em 0.9em 1.2em; */
  padding: 1.1em 1em 0.9em 1em;
  color: rgb(87, 87, 87);
  border: none;
  border-radius: 8px;
  outline: none;
  width: 100%;
  font-size: 1em;
}

.nav-search-visible::placeholder {
  position: absolute;
  font-size: 1.1em;
  font-weight: normal;
  text-align: start;
  top: 0.95em;
}

.search-icon {
  position: absolute;

  top: 0.9em;
  right: 0.5em;
  width: 1.5em;
}

.search-icon:hover {
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 60vh;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/8747714/pexels-photo-8747714.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  background-size: cover;
}

.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  height: 28%;
  line-height: 3em;
}

h1 {
  text-shadow: 0.5px 0.5px 0.5px rgb(94, 94, 94);
}

.heading-search-container {
  display: flex;
  position: relative;
  justify-content: center;
}

.heading-search {
  width: 100%;
  padding: 1.3em;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1em;
  color: gray;
}

.heading-search::placeholder {
  font-size: 1.1em;
  color: gray;
}

.heading-search-icon {
  top: 1em;
}

main {
  display: flex;
  height: 100%;

  flex-direction: column;
}

#toggle-container {
  display: flex;
  position: sticky;
  z-index: 3;
  background: white;
  justify-content: flex-end;
  align-items: center;
  padding: 1em 3.5em 0.9em 0;
  top: 4.1em;
  gap: 1em;
}

#toggle-text {
  color: rgb(40, 63, 83);
  font-weight: bold;
  font-size: 1.1em;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 70, 67, 0.5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(225, 97, 98, 0.8);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(225, 97, 98, 0.8);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.column-container {
  display: flex;
  gap: 1.5em;
  padding: 0 3.5em;
}

.column-container-overflow {
  display: flex;
  gap: 0.56em;
  padding: 0 2.56em 0 3.5em;
  height: 94vh;
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  width: 25vw;
}

.columns-overflow {
  display: flex;
  flex-direction: column;
  width: 25vw;
  overflow-y: scroll;
  gap: 1.3em;
}

.columns-overflow {
  cursor: pointer;
}

.columns-overflow::-webkit-scrollbar {
  visibility: visible;
}

.content-columns {
  position: relative;
}

.content-columns:hover {
  cursor: pointer;
}

.content-columns:hover .art-info {
  opacity: 100%;

  transition: opacity 0.3s ease-in-out;
}

.content-columns > img {
  width: 100%;
}

.art-info {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-evenly;
  bottom: 3px;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.925) 80%);
  height: 75px;
  opacity: 0;
  padding: 0 1em;

  transition: opacity 0.3s ease-in-out;
}

.author-container {
  display: flex;
  flex-basis: 70%;
  gap: 1em;

  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.thumbnail {
  height: 35px;
  width: 35px;
  border-radius: 100px;
  background-size: cover;
  background-position: center;
}

.svg-container {
  display: flex;
  flex-basis: 30%;
  gap: 1em;
  justify-content: flex-end;
}

.plus,
.heart,
.checkmark {
  filter: invert(100%) sepia(4%) saturate(4%) hue-rotate(49deg) brightness(103%) contrast(100%);
  width: 30px;
}

.checkmark {
  display: none;
}

/*#############################################
            LARGE IMAGE PREVIEW
##############################################*/

#image-preview-outside-container {
  position: fixed;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: flex-end;

  z-index: 10;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.541);
  padding-top: 5em;
}

.arrow-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 10vw;
}

.left-arrow-section {
  display: flex;
  position: absolute;
  top: 2.5em;
  left: 7em;
  justify-content: center;
  padding-right: 1em;
}

.left-arrow-container {
  display: flex;
  justify-content: flex-end;
}

.right-arrow-close-container {
  display: flex;
  position: absolute;
  top: 2.5em;
  right: 7em;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
}

.close-window-section {
  position: absolute;
  top: 0;
}

.close-window.container {
  position: absolute;
  top: 0;
}

.close {
  width: 1.5em;
  filter: invert(97%) sepia(97%) saturate(12%) hue-rotate(219deg) brightness(103%) contrast(103%);
}

.close:hover {
  cursor: pointer;
}

.right-arrow-section {
  display: flex;
}

.arrow {
  width: 2em;
  filter: invert(97%) sepia(97%) saturate(12%) hue-rotate(219deg) brightness(103%) contrast(103%);
}

.arrow:hover {
  cursor: pointer;
}

.large-image-hidden {
  position: absolute;
  top: 2.5em;

  height: 96vh;
  width: 65vw;
  text-align: center;
  background: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.image-preview-header {
  width: 100%;
  height: 5em;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;

  height: 90%;
  width: 100%;

  padding: 1.5em 1em 2em 1em;
  overflow: hidden;
}

.preview-image {
  max-width: 100%;
  max-height: 100%;
}

.preview-image:hover {
  cursor: zoom-in;
}

.mag-image {
  background-position: center;
  background-size: 200%;
}

/* .img-magnifier-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  border: 3px solid green;
}

.img-magnifier-glass {
  display: none;
  position: absolute;
  z-index: 5;
  border-radius: 0;
  cursor: pointer;

  width: 1000px;
  height: 600px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90vh;
  width: 70%;
} */
